body{
    background-color: springgreen;
    margin: 0;
    padding: 0;
}

.keys{
    border: 1cm solid brown;
    margin-top: 1cm;
    display: flex;
    justify-content: center;
}
.keys h1{
    color: rgb(39, 73, 4);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1cm;
}
.key:hover{
    background-color: black;
    font-size: 1cm;
}
.key{
    border: 1px solid black;
    min-height: 14vh;
    min-width: 3.5vw;
    background-color:teal;
    color: aliceblue;
}
.click{
    margin-top: 3cm;
    display: flex;
    justify-content: center;
}

.click img{
    margin-left: 1cm;
    max-width: 90vh;
    max-height: 20.6vw;
}
